<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="mango-generator-eclipse.contribution1"
            nameFilter="*.java"
            objectClass="org.eclipse.jdt.core.IJavaElement">
         <menu
               label="MangoG"
               path="additions"
               id="mango-generator-eclipse.menu1">
         </menu>
         <action
               label="MangoG"
               class="com.hsun.mango.actions.MangoGAction"
               menubarPath="mango-generator-eclipse.menu1"
               enablesFor="1"
               id="mango-generator-eclipse.newAction">
         </action>
      </objectContribution>
   </extension>

</plugin>
